In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('HHH16 & C16 & D16.csv', header = None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,120,121,122,123,124,125,126,127,128,129
0,0.007184,0.004616,0.010820,0.004387,0.004163,0.004558,0.016757,0.004325,0.004747,0.004154,...,0.004957,0.004435,0.024813,0.005535,0.007658,0.006148,0.004585,0.004069,4,0.917627
1,0.008803,0.018381,0.004913,0.006716,0.006889,0.008101,0.004127,0.005139,0.003665,0.010748,...,0.006235,0.003725,0.004807,0.005621,0.015326,0.003911,0.007727,0.005103,9,0.997948
2,0.004425,0.004460,0.016845,0.005133,0.022127,0.004656,0.007133,0.005643,0.004944,0.015229,...,0.004145,0.004553,0.004352,0.004560,0.004490,0.005392,0.006949,0.014629,12,0.998761
3,0.021289,0.005369,0.005501,0.006017,0.005423,0.005552,0.007344,0.005182,0.004603,0.004155,...,0.004715,0.006405,0.024319,0.006133,0.007460,0.007146,0.008309,0.004141,6,0.999187
4,0.004478,0.006202,0.017932,0.005535,0.017951,0.004830,0.007146,0.005984,0.005203,0.013896,...,0.004361,0.004608,0.004478,0.004672,0.007047,0.006087,0.007610,0.012260,12,0.995541

In [3]:
df.shape

(10000, 130)

In [4]:
df[df[128] == 0].to_csv('clus16/cluster_1.csv', index = None, header = None)
df[df[128] == 1].to_csv('clus16/cluster_2.csv', index = None, header = None)
df[df[128] == 2].to_csv('clus16/cluster_3.csv', index = None, header = None)
df[df[128] == 3].to_csv('clus16/cluster_4.csv', index = None, header = None)
df[df[128] == 4].to_csv('clus16/cluster_5.csv', index = None, header = None)
df[df[128] == 5].to_csv('clus16/cluster_6.csv', index = None, header = None)
df[df[128] == 6].to_csv('clus16/cluster_7.csv', index = None, header = None)
df[df[128] == 7].to_csv('clus16/cluster_8.csv', index = None, header = None)
df[df[128] == 8].to_csv('clus16/cluster_9.csv', index = None, header = None)
df[df[128] == 9].to_csv('clus16/cluster_10.csv', index = None, header = None)
df[df[128] == 10].to_csv('clus16/cluster_11.csv', index = None, header = None)
df[df[128] == 11].to_csv('clus16/cluster_12.csv', index = None, header = None)
df[df[128] == 12].to_csv('clus16/cluster_13.csv', index = None, header = None)
df[df[128] == 13].to_csv('clus16/cluster_14.csv', index = None, header = None)
df[df[128] == 14].to_csv('clus16/cluster_15.csv', index = None, header = None)
df[df[128] == 15].to_csv('clus16/cluster_16.csv', index = None, header = None)